body{
    display: flex;
    height: 500px;
    margin: 0;
    padding: 0;
}
    /*-----CODE FOR THE TOP SECTION------*/
.header{
    background: #1F2937;
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 8px 200px;
}

    /*Code for the header logo and links*/
.header-top{
    /*border:2px solid yellow;*/
    display: flex;
    flex-shrink:2;
    justify-content: space-between;
    margin-bottom: 16px;
}

.logo{
    flex:1;
    color:#F9FAF8;
    font-size: 24px;
}
a{
    text-decoration:none;
    color: #E5E7EB;
    font-size: 18px;
}
ul{
    list-style: none;
}
.links{
    /*border: 2px solid green;*/
    display: flex;
    justify-content: space-around ;
    flex:1;
}

    /*Code for the main title, subtext, button and image*/
.header-bottom{
    flex:2;
    display: flex;
    justify-content:center;

}

.header-left{
    width: 400px;
    flex-flow: column wrap;
    flex-shrink: 1;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.second-text{
    font-size: 18px;
    color:#E5E7EB;
}

.sign-up{
    background: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    width: 68px;
    height: 32px;
}

.header-right{
    background: grey;
    color: #E5E7EB;
    width: 400px;
    height: 150px;
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
}